.icon-size {

    height: 30px;
    width: 30px;
    display: block;
    /* Other styles here */
}

.icon-radius {
    
    border-radius: 10px;
    /* Other styles here */
}

.icon-background-white{
	background-color: #FFFFFF;
	padding: 2px;
	border-radius: 10px;
	
}